<!DOCTYPE html>
<html lang="en">

<head>
    <title> Maintenance </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <h1>We'd be right back</h1>
    
    <p> Sorry, we re currently running some upgrade, we'd be back soon.. </p>

    {{> footer}}
</body>

</html>